@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center
{
  display: flex;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: 'regular';
  src: url('./assets/fonts/HelveticaNeueRoman.otf') format('opentype');    
}

.active{
  /* Add whatever CSS style will make your link look active. The example below (in my case) */
  @apply  text-white bg-white  md:bg-white md:text-black;
}
